$tot-width: 100%;
$num-col: 15;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($geezy){
  width: ($geezy * $ind-col-width) + ($gut-width * ($geezy - 1));
  /*float: left;*/
  margin-right: $gut-width;
  /*&:last-child {
    margin-right: 0;
  }*/
}

/***********************************/

.nav-ul-1 {
	box-sizing: border-box;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
	padding-top: 0.5em;
	margin-bottom: 0;
	overflow: hidden;

}

%top-col {
	height: 2em;
	padding: 0.5em;
	list-style-type: none;

}

.home-logo{
  width: 3.2em;
}

.a-nav {
	text-decoration: none;
  color: #878787;
}

.nav-col-1 {
	@extend %top-col;
	float: left;

}

%col-topBS {
	font-family: helvetica, arial, sans-serif;
	text-align: left;
	display: block;
}

.col-topBig {
	@extend %col-topBS;
	font-size: 1.5em;
	color: #E0393E;
	font-weight: 700;
	line-height: 1;
}

.col-topSmall {
	@extend %col-topBS;
	font-size: 0.813em;
	font-weight: 300;
	color: #878787;
	line-height: 1.4;
}


%top-col-right {
	@extend %top-col;
	color: red;
	float: right;
	font-family: helvetica, arial, sans-serif;
	padding: 0.5em;
	text-align: center;
	font-weight: 300;
	font-size: 1.5em;

}

.nav-col-2 {
	@extend %top-col-right;
	/*float: right;
	color: #878787;
	padding-top: none;
	text-align: center;*/
}

/***************************************/

.main-box {
  @include grid(15);
	background-color: #F4F4F4;
  border-top: 1px solid #F4F4F4;
  padding-top: 1em;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;

}

/***************************************/

.banner{
  @include grid(13);
  padding: 0;
  margin: 0 auto;
  /*height: 9.375em;*/
  /*background-color: #59636A;*/
  box-sizing: border-box;
  /*width: 59.875em;*/
  overflow: hidden;
}

.banner-wrap{
  border: 1px solid #ddd;
  border-radius: 0.188em;
  max-width: 59.875em;
}

.div-header{
  background-image: url(http://photos1.meetupstatic.com/photos/theme_head/7/6/2/0/full_6870240.jpeg);
  height: 9.375em;
  background-position: top-center;
  background-repeat: no-repeat;
  padding: 0;
}

.div-header-wrap{
  background-color: #59636A;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header-logos{
  height: 3em;
  margin: 0 auto;
  background-color: white;
}


%header-deco{
  list-style-type: none;
  height: 1em;
  padding-left: 0;
}

.header-ul-A{
  @extend %header-deco;
  float: left;
}

.header-ul-B{
  @extend %header-deco;
  float: right;
  margin-top: 0.2em;
}

%li-header-deco{
  font-family: helvetica, arial, sans-serif;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1em;
  display: inline-block;
  margin-left: 0.5em;
  font-weight: 400;
  line-height: 1em;
}

.li-header-A {
  @extend %li-header-deco;
  padding-top: 0.2em;
}

.li-header-B {
  @extend %li-header-deco;
  margin-right: 1em;
  padding-top: 0;
}

.a-header{
  text-decoration: none;
  color: #878787;
}

.profile-logo{
  width: 1.35em;
  padding-top: 0.4em;
  margin-right: 0.2em;
}

/***********************************************/

.row{
  overflow: hidden;
  max-width: 65.6em;
}

%info-box-deco{
  border: 1px solid #ddd;
  border-radius: 0.188em;
  box-sizing: border-box;
  background-color: white;
  margin-top: 1em;
  text-align: center;
  float: left;
}

/********** Left Info Box *********************/

.left-info-box{
  @include grid(3);
  @extend %info-box-deco;
  
}

/********** Middle Info Box ********************/

.middle-info-box{
  @include grid(7.5);
  @extend %info-box-deco;
  padding-left: 1em;

}

.mid-h-wrap{
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

%h-style-deco{
  font-family: helvetica, arial, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.h-style-mid{
  @extend %h-style-deco;
  text-align: left;
}

%mid-a-deco{
  background-color: #F4F4F4;
  text-align: left;
  padding: 1em;
  margin-right: 0.5em;
  margin-bottom: 0.1em;
  overflow: hidden;
}

.mid-a-wrap{
  @extend %mid-a-deco;
}

.middle-box-a{
  font-family: helvetica, arial, sans-serif;
  color: #6FBBB7;
  text-decoration: none;
  margin-top: 0;
  font-weight: 300;
  font-size: 1em;
  padding-left: 0.3em;
  line-height: 1em;
}

.mid-a-wrapB{
  @extend %mid-a-deco;
  padding-bottom: 0;
  margin-bottom: 0;
}

%tab-deco{
  width: auto;
  height: 0.6em;
  text-align: center;
  color: #6FBBB7;
  font-weight: 300;
  float: left;
  text-decoration: none;
  padding: 0.4em 0.65em 0.65em 0.65em;
  border-radius: 0.188em;
}

.mid-box-2a{
  @extend %tab-deco;
  background-color: white;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.mid-box-2b{
  @extend %tab-deco;
  background-color: #F7F7F7;
  border: 1px solid #ddd;
}

.mid-box-ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.mid-box-li{
  /*border-top: 1px solid #ddd;*/
  border-bottom: 1px solid #ddd;
  background-color: white;
  text-align: left;
  padding-top: 0.7em;
  padding-bottom: 2em;
}

.h-style-li{
  color: #6FBBB7;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.15em;
  line-height: 1em;
}

.inward-midBox{
  border-top: 1px solid #F4F4F4;
  overflow: hidden;
  margin-top: 0.7em;
}

.info-box{
  float: left;
  border-right: 1px dashed #F4F4F4;
  width: 68%;
  padding-top: 0.3em;
}

.campus-info{
  padding-bottom: 0.2em;
}

.tiy{
  font-family: helvetica, arial, sans-serif;
  text-align: left;
  display: block;
  text-decoration: none;
  font-size: 1em;
  color: #6FBBB7;
}

.address{
  font-family: helvetica, arial, sans-serif;
  text-align: left;
  display: block;
  color: #575757;
  font-weight: 300;
  padding-top: 0.3em;
  font-size: 0.85em;
}

.map{
  color: #6FBBB7;
  text-decoration: none;
}

.pic-list{
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.li-pic{
  list-style-type: none;
  float: left;
  padding-right: 0.2em;
}

.pic-style{
  width: 1.6em;
}

.arrow-style{
  font-size: 1.45em;
  padding-left: 0.1em;
  text-align: center;
  color: #6FBBB7;
  background-color: #D7E9F6;
}

.p-style{
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.35em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #575757;
  padding-bottom: 0.3em;
}

.learn-more{
  color: #6FBBB7;
  font-size: 0.5em;
  font-weight: 300;
  font-family: helvetica, arial, sans-serif;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}

.host-by{
  color: #575757;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.9em;
  font-weight: 300;

}

.learn-a{
  text-decoration: none;
  color: #6FBBB7;
}

.host-a{
  text-decoration: none;
  color: #6FBBB7;
}

/*****/

.date-time{
  float: right;
  width: 30%;
  padding-top: 0.3em;
}

.mid-list{
  list-style-type: none;
  padding-left: 0;
}
.thedt{
  text-decoration: none;
  list-style-type: none;
}

.date{
  font-family: helvetica, arial, sans-serif;
  line-height: 1;
  color: #575757;
  font-weight: 300;
  text-align: center;
}

.time{
  font-family: helvetica, arial, sans-serif;
  line-height: 1;
  font-weight: 300;
  color: #575757;
  text-align: center;
  font-size: 0.9em;
  display: block;
  text-align: left;
  padding-top: 0.3em;
}

.rsvp-but{
  background-color: #F4F4F4;
  color: #6FBBB7;
  padding: 0.5em;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-weight: 400;
  border-radius: 0.188em;
  width: 85%;
  text-align: left;
  font-family: helvetica, arial, sans-serif;
}

.rsvp-wrap{
  background-color: #EEEEEE;
  text-align: center;
  margin-top: 0.03em;
  margin-bottom: 0.03em;
  width: 85.5%;
  border-radius: 0.188em;
}

.rsvp-a{
  text-decoration: none;
}

.att-li{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: left;
}

.att-a{
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  color: #6FBBB7;
  font-size: 0.9em;
}

/**********/

.box-recurring{
  background-color: #F4F4F4;
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.1em;
  padding-top: 0;
  overflow: hidden;
}  

.h-recurring{
  font-family: helvetica, arial, sans-serif;
  margin-top: 0.5em;
  line-height: 1.35em;
}

.repeat-box{
  overflow: hidden;
}

.first-re{
  float: left;
  color: #6FBBB7;
  width: 50%;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  line-height: 1.25em;
  font-family: helvetica, arial, sans-serif;
}

.second-re{
  float: left;
  width: 20%;
  font-size: 0.8em;
  font-family: helvetica, arial, sans-serif;
}

.third-re{
  float: left;
  color: #6FBBB7;
  width: 30%;
  font-size: 0.8em;
  font-family: helvetica, arial, sans-serif;

}

.a-repeat{
  text-decoration: none;
  color: #6FBBB7;
}

.more-meet{
  font-size: 0.7em;
  margin-top: 1em;
  color: #6FBBB7;
}

.more-meet-a{
  color: #6FBBB7;
  text-decoration: none;
}


/************** Right Info Box *****************/

.right-info-box{
  @include grid(3.5);
  @extend %info-box-deco;
}

.right-h-wrap{
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
}

.h-style-right{
  @extend %h-style-deco;
  text-align: left;
}











