$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($geezy){
  width: ($geezy * $ind-col-width) + ($gut-width * ($geezy - 1));
  /*float: left;*/
  margin-right: $gut-width;
  &:last-child {
    margin-right: auto;
  }
}

/***********************************/

.nav-ul-1 {
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0.5em;
  margin-bottom: 1em;
  overflow: hidden;

}

%top-col {
  height: 2em;
  padding: 0.5em;
  box-sizing: border-box;
  list-style-type: none;

}

.home-logo{
  box-sizing: border-box;
  width: 3.2em;
}

.a-nav {
  text-decoration: none;
  color: #878787;
}

.nav-col-1 {
  @extend %top-col;
  display: inline-block;
  @media (min-width:768px){
    float: left;
  } 

}

%col-topBS {
  font-family: helvetica, arial, sans-serif;
  text-align: left;
  display: block;
  box-sizing: border-box;
}

.col-topBig {
  @extend %col-topBS;
  font-size: 1.5em;
  color: #E0393E;
  font-weight: 700;
  line-height: 1;
}

.col-topSmall {
  @extend %col-topBS;
  font-size: 0.813em;
  font-weight: 300;
  color: #878787;
  line-height: 1.4;
}


%top-col-right {
  @extend %top-col;
  font-family: helvetica, arial, sans-serif;
  padding: 0.5em;
  float: right;
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  @media (min-width:768px){
    float: right;
    font-size: 1.8em;
  }

}

.nav-col-2 {
  @extend %top-col-right;
  display: inline-block;
  /*float: right;
  color: #878787;
  padding-top: none;
  text-align: center;*/
}

/***************************************/

.main-box {
  /*@include grid(12);*/
  box-sizing: border-box;
  background-color: #F4F4F4;
  border-top: 1px solid #F4F4F4;
  padding-top: 1em;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3em;

}

/***************************************/

.banner{
  padding: 0;
  margin: 0 auto;
  /*height: 9.375em;*/
  /*background-color: #59636A;*/
  box-sizing: border-box;
  /*width: 59.875em;*/
  overflow: hidden;
  @media (min-width:768px){
    @include grid(10);
  }
}

.banner-wrap{
  border: 1px solid #ddd;
  border-radius: 0.188em;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  @media (min-width:768px){
    width: 100%;
  }
}

.div-header{
  background-image: url(http://photos1.meetupstatic.com/photos/theme_head/7/6/2/0/full_6870240.jpeg);
  height: 9.375em;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
}

.div-header-wrap{
  background-color: #59636A;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header-logos{
  height: 3em;
  margin: 0 auto;
  background-color: white;
}


%header-deco{
  list-style-type: none;
  height: 1em;
  padding-left: 0;
}

.header-ul-A{
  @extend %header-deco;
  float: left;
}

.header-ul-B{
  @extend %header-deco;
  float: right;
  margin-top: 0.2em;
}

%li-header-deco{
  font-family: helvetica, arial, sans-serif;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1em;
  display: inline-block;
  margin-left: 0.5em;
  font-weight: 400;
  line-height: 1em;
}

.li-header-A {
  @extend %li-header-deco;
  box-sizing: border-box;
  padding-top: 0.2em;
}

.li-header-B {
  @extend %li-header-deco;
  margin-right: 1em;
  box-sizing: border-box;
  padding-top: 0;
}

.a-header{
  text-decoration: none;
  color: #878787;
}

.profile-logo{
  width: 1.35em;
  padding-top: 0.4em;
  box-sizing: border-box;
  margin-right: 0.2em;
}

/***********************************************/

.row{
  overflow: hidden;
  /*min-width: 59.875em;*/
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @media (min-width:768px){
    @include grid(12);
  }
}

%info-box-deco{
  border: 1px solid #ddd;
  border-radius: 0.188em;
  box-sizing: border-box;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

/********** Left Info Box *********************/

.left-info-box{
  @extend %info-box-deco;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  @media (min-width:768px){
    @include grid(3);
    float: left;
  }
}

.left-mid-info-box{
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  padding: 1em;
}

.location{
  font-family: helvetica, arial, sans-serif;
  color: #6FBBB7;
  text-align: left;
  font-weight: 700;
  font-size: 1em;
  display: block;
}

.founded{
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;
  color: #545454;
  text-align: left;
  display: block;
  margin-top: 0.4em;
  font-size: 0.85em;
}

.a-loco{
  color: #6FBBB7;
  text-decoration: none;
}

%left-bar-deco{
  margin-top: 1em;
  padding: 0.4em;
  background-color: #EDEDED;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.85em;
  border-radius: 0.188em;
}

.aboutus{
  @extend %left-bar-deco;
}

.invite-friends{
  @extend %left-bar-deco;
  margin-bottom: 1em;
}

.job-count{
  border-top: 1px solid #EBEBEB;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
}

.job{
  float: left;
  font-size: 0.85em;
  line-height: 1.5em;
  box-sizing: border-box;
  text-align: left;
  width: 70%;
  font-family: helvetica, arial, sans-serif;
}

.count{
  float: right;
  padding-top: 0.2em;
  box-sizing: border-box;
  width: 30%;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.85em;
}

.social-icons{
  overflow: hidden;
  box-sizing: border-box;
}

.facebook{
  float: left;
  padding: 0.2em;
  box-sizing: border-box;
  margin-top: 0.8em;
}

/**************/

.people-wrap{
  overflow: hidden;
  box-sizing: border-box;
}

.organizers{
  text-align: left;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0.2em;
  box-sizing: border-box;
}

.names{
  font-size: 0.85em;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 20%;
  float: left;
}

.owl{
  float: right;
  box-sizing: border-box;
  width: 50%;
}

/****************/

.we-about{
  text-align: left;
  padding-left: 0;
  margin-bottom: 0.2em;
  box-sizing: border-box;
  font-weight: 300;
}

.description{
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.85em;
  text-align: left;
}

/********** Middle Info Box ********************/

.middle-info-box{
  @extend %info-box-deco;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  @media (min-width:768px){
    @include grid(6);
    float: left;
  }

}

.mid-h-wrap{
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  box-sizing: border-box;
}

%h-style-deco{
  font-family: helvetica, arial, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.h-style-mid{
  @extend %h-style-deco;
  text-align: left;
}

%mid-a-deco{
  background-color: #F4F4F4;
  text-align: left;
  padding: 1em;
  margin-right: 0.5em;
  box-sizing: border-box;
  margin-bottom: 0.1em;
  overflow: hidden;
}

.mid-a-wrap{
  @extend %mid-a-deco;
}

.middle-box-a{
  font-family: helvetica, arial, sans-serif;
  color: #6FBBB7;
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 300;
  font-size: 1em;
  padding-left: 0.3em;
  line-height: 1em;
}

.mid-a-wrapB{
  @extend %mid-a-deco;
  padding-bottom: 0;
  margin-bottom: 0;
}

%tab-deco{
  width: auto;
  /*height: 0.6em;*/
  text-align: center;
  color: #6FBBB7;
  box-sizing: border-box;
  font-weight: 300;
  float: left;
  text-decoration: none;
  padding: 0.4em 0.65em 0em 0.65em;
  border-radius: 0.188em;
}

.mid-box-2a{
  @extend %tab-deco;
  background-color: white;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.mid-box-2b{
  @extend %tab-deco;
  background-color: #F7F7F7;
  border: 1px solid #ddd;
}

.mid-box-ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.mid-box-li{
  /*border-top: 1px solid #ddd;*/
  border-bottom: 1px solid #ddd;
  background-color: white;
  text-align: left;
  box-sizing: border-box;
  padding-top: 0.7em;
  padding-bottom: 2em;
}

.h-style-li{
  color: #6FBBB7;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.15em;
  box-sizing: border-box;
  line-height: 1em;
}

.inward-midBox{
  border-top: 1px solid #F4F4F4;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 0.7em;
}

.info-box{
  float: left;
  border-right: 1px dashed #F4F4F4;
  box-sizing: border-box;
  width: 68%;
  padding-top: 0.3em;
}

.campus-info{
  padding-bottom: 0.2em;
  box-sizing: border-box;
}

.tiy{
  font-family: helvetica, arial, sans-serif;
  text-align: left;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  color: #6FBBB7;
}

.address{
  font-family: helvetica, arial, sans-serif;
  text-align: left;
  display: block;
  color: #575757;
  box-sizing: border-box;
  font-weight: 300;
  padding-top: 0.3em;
  font-size: 0.85em;
}

.map{
  color: #6FBBB7;
  text-decoration: none;
}

.pic-list{
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
  box-sizing: border-box;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.li-pic{
  list-style-type: none;
  float: left;
  box-sizing: border-box;
  padding-right: 0.2em;
}

.pic-style{
  width: 1.6em;
}

.arrow-style{
  font-size: 1.45em;
  padding-left: 0.1em;
  box-sizing: border-box;
  text-align: center;
  color: #6FBBB7;
  background-color: #D7E9F6;
}

.p-style{
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.35em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  color: #575757;
  padding-bottom: 0.3em;
}

.learn-more{
  color: #6FBBB7;
  font-size: 0.5em;
  box-sizing: border-box;
  font-weight: 300;
  font-family: helvetica, arial, sans-serif;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}

.host-by{
  color: #575757;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  box-sizing: border-box;

}

.learn-a{
  text-decoration: none;
  color: #6FBBB7;
}

.host-a{
  text-decoration: none;
  color: #6FBBB7;
}

/*****/

.date-time{
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding-top: 0.3em;
}

.mid-list{
  list-style-type: none;
  padding-left: 0;
  box-sizing: border-box;
}
.thedt{
  text-decoration: none;
  list-style-type: none;
}

.date{
  font-family: helvetica, arial, sans-serif;
  line-height: 1;
  color: #575757;
  box-sizing: border-box;
  font-weight: 300;
  text-align: center;
}

.time{
  font-family: helvetica, arial, sans-serif;
  line-height: 1;
  font-weight: 300;
  box-sizing: border-box;
  color: #575757;
  text-align: center;
  font-size: 0.9em;
  display: block;
  text-align: left;
  padding-top: 0.3em;
}

.rsvp-but{
  background-color: #F4F4F4;
  color: #6FBBB7;
  padding: 0.5em;
  box-sizing: border-box;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-weight: 400;
  border-radius: 0.188em;
  width: 85%;
  text-align: left;
  font-family: helvetica, arial, sans-serif;
}

.rsvp-wrap{
  background-color: #EEEEEE;
  text-align: center;
  margin-top: 0.03em;
  margin-bottom: 0.03em;
  width: 85.5%;
  box-sizing: border-box;
  border-radius: 0.188em;
}

.rsvp-a{
  text-decoration: none;
}

.att-li{
  margin-top: 0.2em;
  box-sizing: border-box;
  margin-bottom: 0.2em;
  text-align: left;
}

.att-a{
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  color: #6FBBB7;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 0.9em;
}

/**********/

.box-recurring{
  background-color: #F4F4F4;
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.1em;
  padding-top: 0;
  box-sizing: border-box;
  overflow: hidden;
}  

.h-recurring{
  font-family: helvetica, arial, sans-serif;
  margin-top: 0.5em;
  box-sizing: border-box;
  line-height: 1.35em;
}

.repeat-box{
  overflow: hidden;
  box-sizing: border-box;
}

.first-re{
  float: left;
  color: #6FBBB7;
  width: 50%;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  line-height: 1.25em;
  font-family: helvetica, arial, sans-serif;
}

.second-re{
  float: left;
  box-sizing: border-box;
  width: 20%;
  font-size: 0.8em;
  font-family: helvetica, arial, sans-serif;
}

.third-re{
  float: left;
  color: #6FBBB7;
  box-sizing: border-box;
  width: 30%;
  font-size: 0.8em;
  font-family: helvetica, arial, sans-serif;

}

.a-repeat{
  text-decoration: none;
  color: #6FBBB7;
  font-weight: 300;
}

.a-repeat :hover{
  text-decoration: underline;
}

.more-meet{
  font-size: 0.7em;
  margin-top: 1em;
  box-sizing: border-box;
  color: #6FBBB7;
}

.more-meet-a{
  color: #6FBBB7;
  box-sizing: border-box;
  text-decoration: none;
}

/****************/

.more-meetups{
  width: 80%;
  background-color: #E6E6E6;
  border-radius: 0.188em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  margin: 0.8em auto;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 0.2em;
  border-bottom: solid 2px #878787;

} 

  .a-meetups{
    text-decoration: none;
    color: #4C4C4C;
}

/************** Right Info Box *****************/

.right-info-box{
  @extend %info-box-deco;
  padding: 1em;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width:768px){
    @include grid(3);
    float: left;
  }
}

.right-h-wrap{
  text-align: center;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

.h-style-right{
  @extend %h-style-deco;
  text-align: center;
  @media (min-width:768px){
    text-align:left;}
}

.right-join-box{
  border-top: 1px dotted #CBCBCB;
  padding-top: 0.4em;
  box-sizing: border-box;
}

.people-wrap-right{
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 0.5em;
}

.right-new-member{
  font-size: 0.6em;
  box-sizing: border-box;
  color: #545454;
  font-weight: 300;
  font-family: helvetica, arial, sans-serif;
  text-align: left;

}

.names-right{
  font-size: 0.85em;
  text-align: left;
  box-sizing: border-box;
  line-height: 1.5em;
  width: 80%;
  float: left;
}

.owl-right{
  box-sizing: border-box;
  float: right;
  width: 20%;
}

.profile-logo-right{
  width: 1.85em;
  box-sizing: border-box;
}

.rsvp-ed{
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;
  color: #545454;
}

.yesterday{
  font-family: helvetica, arial, sans-serif;
  margin-top: 0.3em;
  box-sizing: border-box;
  font-weight: 300;
  color: #545454;
  font-size: 0.7em;
  text-align: left;
  padding-left: 0.7em;
  margin-bottom: 1em;

}

.yesterdayB{
  font-family: helvetica, arial, sans-serif;
  margin-top: 0.3em;
  font-weight: 300;
  color: #545454;
  font-size: 0.7em;
  text-align: left;
  padding-left: 0.7em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  border-bottom: 1px dotted #CBCBCB;

}

/****************** After Main Box *******************/

.bottom-info{
  background-color: white;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
  overflow: hidden;
  @media (min-width:768px){
    @include grid(10);
  }
}

.bottom-info-left{
  @extend %info-box-deco;
  margin-left: auto;
  margin-top: 0;
  border: none;
  width: 70%;
  margin-right: auto;
  text-align: left;
  overflow: hidden;
  @media (min-width:768px){
    @inculde grid(5);
    width: 50%;
    float: left;
  }

}

.bottom-info-right{
  @extend %info-box-deco;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  background-color: white;
  border: none;
  margin-right: auto;
  overflow: hidden;
  @media (min-width:768px){
    @include grid(5);
    width: 50%;
    float: right;
    padding-top: 0;
  }

}

.get-start-button{
  width: 30%;
  background-color: #E0393E;
  color: white;
  border-radius: 0.188em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 0.4em;
  float: left;
  border-bottom: solid 2px #851518;

} 

.a-started{
    text-decoration: none;
}

.the-info-box{
  overflow: hidden;
}

.bottom-right-text{
  float: left;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  text-align: left;
  font-weight: 300;
  color: #545454;
  width: 70%;
}

.bottom-right-pic{
  float: right;
  width: 30%;
}

.rafael-pic{
  border-radius: 50%;
}

.text-box-info{
  color: #545454;
  text-align: left;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  float: left;
  margin-top: 1em;
}

/************************ Footer *************************/

footer {
  /*@include grid(12);*/
  background-color: #353E48;
}

.footer-box{
  @include grid(10);
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  @media (min-width:768px){}
}

.top-footer-box{
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #4D555E;
}

.start-group{
  float: left;
  font-family: helvetica, arial, sans-serif;
  color: white;
  font-size: 1.1em;
  font-weight: 400;
}

.log-out{
  float: right;
  font-family: helvetica, arial, sans-serif;
  color: white;
  font-size: 1.1em;
  font-weight: 400;
}

.footer-choices{
  overflow: hidden;
  margin-top: 0.4em;
}

.footer-ul{
 list-style-type: none;
  padding-left: 0;
  float: left;
}

.li-footer{
  font-family: helvetica, arial, sans-serif;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1em;
  display: inline-block;
  font-weight: 300;
  box-sizing: border-box;
  padding-top: 0.2em;
}

.a-footer{
  color: white;
  text-decoration: none;
}

.copyright{
  font-family: helvetica, arial, sans-serif;
  padding-left: 0.2em;
  padding-right: 0.2em;
  display: inline-block;
  font-weight: 300;
  box-sizing: border-box;
  padding-top: 0.2em;
  color: #BCBFC2;
  font-size: 0.8em;
}










